* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    width: 1200px;
    margin: 171px auto 82px auto;
}

.left-box {
    float: left;
    width: 310px;
    background-color: #FBFBFB;
}

.category-box {
    float:left;
    padding: 0 0 0 18px;
    min-height: 774px;
}

.category-caption {
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.category-list {
    list-style: none;
}

.category-item {
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.category-item:hover {
    color: #46A358;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}

.advert-box {
    float: left;
}

.items-box {
    float: right;
    width: 840px;
}

.item-filter-sort {
    float: left;
    width: 840px;
}

.item-filter {
    float: left;
}

.filter-list {
    padding: 0;
    margin: 0;
}

.filter-item {
    display: inline;
    margin: 0 40px 0 0;
}

.filter-link {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 0 0 6px 0;
}

.filter-link:hover {
    color: #46A358;
    border-bottom: 3px solid #46A358;
}

.item-sort {
    float: right;
}

.item-sort-caption {
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.item-sort-list {
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    border:0px;
    outline:0px;  
}

.item-product-box {
    float: left;
    margin: 31px 0 0 0;
}

.item-product {
    float: left;
    width: 258px;
    margin: 0 33px 70px 0;
    min-height: 350px;
}

.item-img-box {
    background-color: #FBFBFB;
    min-height: 300px;
    padding: 0 4px 0 4px;
}

.item-img {
    padding: auto;
}

.item-header {
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    padding: 12px 0 0 0;
    margin: 0;
}

.item-price {
    color: #46A358;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 6px 0 0 0;
    margin: 0;
}

.pagination-box {
    float: right;
}

.pagination-list {
    margin: 90px 0 0 0;
    padding: 0;
    font-size: 0;
}

.pagination-item {
    vertical-align: top;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    margin: 0 10px 0 0;
}

.pagination-item:hover {
    background: #46A358;
}

.pagination-link {
    width: 33px;
    text-decoration: none;
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 16px;
    padding: 8px 7px; 
    text-align: center;
    display: block;
}

.pagination-link:hover {
    color: #FFFF;
    font-weight: 700;
}

.pagination-img {
    background-repeat: no-repeat;
    background-image: url("../img/arrow.svg");
    background-position: center;
   
}

.pagination-img:hover {
    background-repeat: no-repeat;
    background-image: url("../img/arrow-selected.svg");
    background-position: center;
   
}

.mr-0 {
    margin-right: 0;
}



