* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    margin: 0 auto;
    padding: 30px 120px 52px 120px;
}

.header {
    width: 1200px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.50);
}

.logo {
    text-decoration: none;
    display: inline-block;
    margin: 0 229px 17.7px 0;
    vertical-align: top;
    width: 150px;
    height: 34.3px;
}

.logo-img {
    max-width: 150px;
}

.menu {
    display: inline-block;
    margin: 0;
    padding: 7px 0 7.3px 0;
}

.menu .menu-item {
    display: inline-block;
    vertical-align: top;
    margin: 0 50px 0 0;
    height: 20px;

}

.menu .menu-link {
    font-size: 16px;
    color: #3D3D3D;
    text-decoration: none;
    padding: 0 0 25px 0;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu a:hover {
    border-bottom: 3px solid #46A358;
}

.login-box {
    display: inline-block;
    padding: 0 0 0 312px;
    margin: 0;
    width: 100px;
}

.login-btn {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    border-radius: 6px;
    background: #46a358;
    text-decoration: none;
    font-style: normal;
    vertical-align: top;
    padding: 9px 26px;
    margin: 44px 0 85px 0; 
}

.main {
    width: 1200px;
    margin: 12px 0 0 0;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

.planet {
    vertical-align: top;
    display: inline-block;
}

.planet-info {
    display: inline-block;
    vertical-align: top;
    width: 688px;
    padding: 0 0 0 52px;
}

.planet-header {
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    padding: 68px 0 0 0;
    vertical-align: top;
    margin: 0;
}

.planet-h1 {
    display: inline-block;
    vertical-align: top;
    padding: 7px 0 0 0;
    font-size: 68px;
    font-style: normal;
    font-weight: 900;
    line-height: 70px;
    text-transform: uppercase;
    margin: 0 auto;
    color: #3D3D3D;
}

.planet-h1-bold {
    color: #46A358;
}

.planet-text {
    display: inline-block;
    padding: 5px 0 0 0;
    margin: 0 auto;
    color: #727272;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    vertical-align: top;
}


.shop-now-box {
    display: inline-block;
    padding: 44px 0 0 0;
    margin: 0;
}

.shop-now-btn {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    background: #46a358;
    text-decoration: none;
    vertical-align: top;
    padding: 10px 26px; 
    margin: 44px 0 85px 0; 
}

.planet-picture {
    display: inline-block;
    width: 507px;
    vertical-align: top;
}

.planet-picture img{
    max-width: 507px;
}
