* {
    box-sizing: border-box;
}

.box {
    background-color: lightblue;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px solid red;

    /*border-top: 10px dashed red;
    border-right: 10px dotted green;
    border-bottom: 10px solid blue;
    border-left: 10px double black;

    border-top-width: 10px;
    border-top-style: groove;
    border-top-color: red;*/

    margin: 10px;
}

.block {
    background-color: lightcoral;
    width: 200px;
    height: 200px;
    /*padding: 10px;

    border: 5px solid black;
    */
    margin-bottom: 40px;
}

.block2 {
    background-color: lightgreen;
    width: 200px;
    height: 200px;
    /*padding: 10px;

    border: 5px solid black;

    margin: 20px;*/
    margin-top: 30px;
}

.box-wrap {
    background-color: green;
}

.ox-inset {
    margin-top: 100px;
}

.inline {
    background-color: lightgreen;

    /*не прапцюють*/
    /*width: 200px;
    height: 200px;*/
    padding: 3px 30px;
}

.box46 {
    background-color: red;
    height: 200px;
    width: 25%;
    padding: 20px;

    border: 10px solid black;
    
}