.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.register {
    width: 300px;
    background-color: #ffffff;
    border-bottom: 10px solid #46A358;
    padding: 52px 100px 40px 100px;
    margin: 50px auto;
}

.form-header {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #3D3D3D;
}

.default-input {
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;
    padding: 12px 14px 12px 14px;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    width: 270px;

}

.line {
    margin: 0 0 16px 0;
}

.reg-type {
    width: 300px;
    text-align: center;
    color: #3D3D3D;
    margin: 0 0 40px 0;

}

.reg-type .choose-login {
    text-decoration: none;
    color: #3D3D3D;
    font-size: 20px;
}

.sep {
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 250;
    line-height: 16px;
    margin: 0 10px 0 12px;
}

.reg-type .choose-reg {
    text-decoration: none;
    color: #46A358;
    font-size: 20px;
}

.button-container {
    margin: 41px 0 36px 0;
}

.button-reg {
    font-size: 14px;
    line-height: 16px;
    background-color: #46A358;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    width: 300px;
    height: 45px;
    color: #FFFFFF;
    padding: 16px 118px 13px 119px;
}

.social-title {
    height: 16px;
    width: 300px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #3D3D3D;
    margin: 0 0 27px 0;
    
}

.social {
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    width: 298px;
    height: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    color:#727272;
    display: block;
    margin: 0 0 15px 0;
}

.social img {
    display: inline-block;
    vertical-align: middle;
}